@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

html,body{
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow-x: hidden;
  
}

*{
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, var(--tw-gradient-stops));
  background-size: 200% 200%;
  animation: gradient 1s ease infinite;
}